
@font-face{
font-family:'vazir-bold';
font-style: normal;
src:url('../fonts/Vazir-Bold.woff')
}

@font-face{
font-family:'vazir-medium';
font-style: normal;
src:url('../fonts/Vazir-Medium.ttf')
}
@font-face{
font-family:'vazir';
font-style: normal;
src:url('../fonts/Vazir.woff')
}
@font-face{
font-family:'VIP-HALA';
font-style: normal;
src:url('../fonts/VIP-Hala-Bold.otf') format('opentype');
}

@font-face {
    font-family: Kalame;
    src: url('../fonts/Kalameh_Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: Cinema;
    src: url('../fonts/Cinema_Full.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: YekanBalkhMedium;
    src: url('../fonts/YekanBakhMedium.woff') format('truetype');
    font-weight: medium;
}
@font-face {
    font-family: YekanBakhBold;
    src: url('../fonts/YekanBakhBold.woff') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: YekanBalkhHeavy;
    src: url('../fonts/YekanBakhHeavy.woff') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: iranyekanwebmedium;
    src: url('../fonts/iranyekanwebmedium.woff') format('truetype');
    font-weight: medium;
}





body,h1,h2,h3,h4,h5,h6,p,span,div{
    font-family: vazir;
    letter-spacing: normal !important;
}

